In [1]:
import psycopg2
import pandas as pd
from _py.config import config

In [2]:
con = psycopg2.connect(
    dbname = config.user,
    user = config.user,
    host = config.host,
    port = config.port,
    password = config.password
)
con.autocommit = True
cursor = con.cursor()

sql_create_db = f"CREATE DATABASE {config.db}"
try:
    cursor.execute(sql_create_db)
    print('db has been created')
except psycopg2.errors.DuplicateDatabase:
    print('db is already exists')

cursor.close()
con.close()

db has been created

In [3]:
train = pd.read_csv(config.path_data_csv+'/train.csv')
test = pd.read_csv(config.path_data_csv+'/test.csv')
sample_submission = pd.read_csv(config.path_data_csv+'/sample_submission.csv')

tables = {
    "train": train,
    "test": test,
    "sample_submission": sample_submission,
}

In [5]:
for table_name, df in tables.items():
    df.to_sql(table_name, config.engine, if_exists="replace", index=False)
    print(f"{table_name} successfully loaded")

train successfully loaded
test successfully loaded
sample_submission successfully loaded

In [6]:
pd.read_sql('SELECT*FROM train', config.engine).head(5)

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0